/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 10 
	ZP_TMP.[PATIENTID] AS Patientnr, 
	convert(varchar, ZP_TMP.[EXPDATE],105) AS Experatiedatum, 
	ZP_TMP.[EXPTIME] AS Experatietijd, 
	ZP_TMP.[LCODE] AS Inlogcode,	
	convert(varchar, PAT.[GEBDAT],105) AS Geboortedat,
	PAT.[GESLACHT] AS Geslacht
FROM [ZP_TEMPACCOUNT] AS ZP_TMP
INNER JOIN [PATIENT_PATIENT] AS PAT ON	PAT.[PATIENTNR] = ZP_TMP.[PATIENTID]
INNER JOIN [ZP_TEMPACCOUNTDEF] AS ZP_DEF ON ZP_DEF.[ID] = ZP_TMP.DEFID
WHERE ZP_DEF.[DESCR] like 'Tijdelijk-account voor Preop Vragenlijst'
ORDER BY ZP_TMP.[EXPDATE] DESC


SELECT TOP 10 * FROM [ZP_TEMPACCOUNT] ORDER BY CREDATE DESC

  SELECT * FROM PATIENT_PATIENT WHERE [PATIENTNR] = '14777069'