
SELECT TOP (1000) *
FROM [HIX_PRODUCTIE].[dbo].[CONFIG_INSTVARS]
WHERE NAAM = 'ZC_WW_USR_PERWZG' AND [OWNER] = 'RMEIJER'

SELECT TOP 1000 *
FROM CONFIG_INSTHIST
WHERE NAAM = 'ZC_WW_USR_PERWZG' AND MUTDATUM = '2018-09-10'

SELECT TOP (1000) *
FROM [HIX_PRODUCTIE].[dbo].[MUTLOG_MUTLOG]
WHERE LOGICGUID = 'ZISCON_USER' AND
      MUTDAT = '2018-09-10' AND
	  IDSTRING = 'RMEIJER'
ORDER BY MUTDAT desc, MUTTIJD desc

SELECT TOP 85 A.[LOGUSER_ID],A.[GEBRUIKER],A.[MUTGEBRUIK],A.[AUTOLOGIN],A.[INDATUM],A.[INTIJD],A.[UITDATUM],A.[UITTIJD],A.[STATUS],A.[EXTRAINFO],A.[LOGSESS_ID],A.[LOGUSERGUID]
FROM [dbo].[ZISCON_LOGUSER] A
WHERE A.[MUTGEBRUIK] = 'JVOSS'
ORDER BY A.[MUTGEBRUIK] DESC,A.[INDATUM] DESC,A.[INTIJD] DESC,A.[LOGUSER_ID] DESC

SELECT TOP (1000) *
FROM ZISCON_LOGSESSI
WHERE LOGSESS_ID = '0004989867'

SELECT AA.[ADRESID],AA.[CONTACT],AA.[ADRTYPE],AA.[UTIVOEROBJID],AA.[UITVOERDL],AA.[OPMERKING],AA.[ISMAINADDRES],AA.[PRINTSOORT],AA.[RPRINTER],AA.[TARGETGUID],AA.[Confirmation],AA.[FORMATEDVALU]
FROM [dbo].[ROUTEER_RADRES] AA
WHERE EXISTS (SELECT NULL
FROM (SELECT TOP 1  A.[RAID],A.[ADRSID],A.[OMSCH],A.[CONTACTPROFI],A.[RTRCATID]
FROM [dbo].[ROUTEER_RCONTACT] A
WHERE (A.[RTRCATID] = 'ZISCON_USER' AND A.[ADRSID] = 'RMEIJER')
ORDER BY A.[RAID] ASC) A
WHERE AA.[CONTACT] = A.[RAID])
ORDER BY AA.[CONTACT]

