SELECT TOP 10 *
FROM [HIX_ACCEPTATIE].[dbo].[ROUTEER_RREGEL]
--WHERE VERWERKDAT IS NULL
ORDER BY STARTDAT DESC


--UPDATE [HIX_ACCEPTATIE].[dbo].[ROUTEER_RREGEL]
--SET STATUS = 2
--WHERE VERWERKDAT IS NULL