
SELECT [Domain]
      ,[Login]
      ,[Name]
      ,[Deleted]
      ,[LastPreferredGroup]
      ,[ExternalUserId]
      ,[Data]
      ,[InheritPreferredRole]
      ,[UserType]
      ,[PreferredWorkspaceGuid]
      ,[AuthenticationUserId]
      ,[LastLoginUtc]
      ,[CreationType]
  FROM [SectraHealthcareStorage].[dbo].[Users]
  WHERE Deleted = 0
